@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #18191c;
  color: white;
}

h1 {
  font-size: 34px;
  font-weight: 700;
}

h2 {
  font-size: 28px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: #93A0B9;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #007bff;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Links */

a, a:link, a:visited  {
  text-decoration: none;
}

a:hover  {
  text-decoration: none;
}

.main-container{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

label {
  text-align: start;
  margin: 10px 0 !important;
  font-size: 20px;
}

.title-auth{
  margin-bottom: 50px;
}